[submodule "kari_stuff/Kari"]
	path = kari_stuff/Kari
	url = https://github.com/AntonC9018/Kari
[submodule "dev_cli/third_party/jcli"]
	path = dev_cli/third_party/jcli
	url = https://github.com/AntonC9018/jcli
[submodule "Server/MagicOnionTool"]
	path = ci_stuff/MagicOnion
	url = https://github.com/AntonC9018/MagicOnion
